.navbar__nav{
    display: flex;
    justify-content:space-between ;
    
}

.footer__nav{
    display: flex;
    justify-content: flex-start;

}

.reproductor__nav{
    display: flex;
    justify-content: center;


}

#track-list {
    display: flex;
    justify-content: center  ;
    width: 100vw;
    overflow-x: scroll;

}